---
import Layout from '../../layouts/Layout.astro'
---
<style>
  li:not(:first-child) {
    margin-top: 1.5rem;
  }
</style>
<Layout title='Resources'>
  <h1>Resources</h1>
  <main>
    <p>Are you someone who can't put their phone down during class or studying? A video by AsapSCIENCE explains why this happens, and provides a solution to help overcome this addiction using the following methods:</p>
    <ul>
      <li><b>Chronological Binding:</b> Limit yourself to a certain amount of time on your phone per day. Over time, this will help prevent you from compulsively checking your phone.</li>
      <li><b>Physical Binding:</b> Putting your phone away after a certain time before going to bed in a place where you don't have access to it. Not having easy physical access to your phone when you don't need it can slowly train yourself to not habitually use it.</li>
      <li><b>Categorial Binding:</b> Make your phone mean less to you by making it less stimulating. One way to do this is by turning it to grayscale mode.</li>
    </ul>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vcjQ5JkEE_0?si=ionLwUB3JRKCHQ3v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </main>
</Layout>